body {
    background-color: #e7e7e7;;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin: 0;
}

header h2 {
    margin: .5rem;
    color: white;
}

.info h2 {
    text-align: center;
    margin-top: 0;
}

.info p {
    width: 100%;
    margin: 0;
    padding: .5rem 0;
    text-align: justify;
}

.card {
    width: 300px;
    display: block;
}

.card_small {
    width: 46.5px;
    height: 67.5px;
    filter:grayscale(0);
}

.card_small:hover, .card_small:active {
    cursor: pointer;
    filter:grayscale(1);
}

.bold {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.column {
    background-color: #ffffff;
    height:800px;
    border-radius: 10px;
    padding: 25px 0;
    
}

#left {
    margin: 25px 0 25px 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#right {
    margin: 25px 25px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#title {
    background-color: black;

    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 25px;
}

#info {
    max-width: 500px;
    padding: 0 25px;
}

#search {
    width: 100%;
    display: flex;
    justify-content: center;
}


#gallery {
    width: 400px;
    height: calc(71px * 10);
    gap: 4px;
    margin-top: 25px;
    padding: 0 25px;
    overflow-y: scroll;
}


input[type="search"], input[type="submit"] {
    background-color: #ffffff;
    height: 25px;
    border: 1px solid rgb(187, 187, 187);
    display: inline-block;
}

input[type="search"] {
    width: 360px;
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

input[type="submit"] {
    width: 40px;    
    border-radius: 0 5px 5px 0;
    border-left: 0;

    background: #ffffff url("../img/sb.svg") no-repeat center;
    background-size: 13px;
}

input[type="submit"]:hover {
    background: #008800 url("../img/sw.svg") no-repeat center;
    background-size: 13px;
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
}

#sorttable_sortfwdind, #sorttable_sortrevind { display: none; } 