html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: rgb(250, 250, 250);
}

input {
    box-sizing:border-box;
}

select, select option {
    color: black;
}

option:first-child {
    color:gray;
}

.container {
    width: 100%;
    display: flex;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-content: center;
    overflow: auto;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.9);

    animation-name: fade;
    animation-duration: 0.1s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.modal-content {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    display: block;
    object-fit: contain;
    z-index: 3;
}

.icon {
    float:left;
    position: absolute;
    z-index: 1;
}

.item:hover, .close:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.c1 {
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
}

.c2 {
    box-sizing: border-box;
    width: 100%;
    padding: 1vw;
}

.r1, .r2 {
    width: 100%;
    display: flex;
}

.r1 {
    flex-direction: column;
}

.r2 {
    flex-direction: row;
}

.r3 {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.w1 {
    width: 25%;
}

.w2 {
    width: 50%;
}

.w3 {
    width: 75%;
}

.w4 {
    width: 100%;
}

.g1 {
    margin: 0;
    display: flex;
}

#name, #card1, #card2, #type, #attribute, #archetype, #sort, #order, #format, #limit, #submit, #clear {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
    outline:none;
    font-size: 13px;
}

#name:focus, #card1:focus, #card2:focus, #type:focus, #attribute:focus, #archetype:focus, #sort:focus, #format:focus, #limit:focus {
    outline: 2px solid blue;
    outline-offset: 1px;
}

#submit {
    background-color: rgb(0, 0, 0);
    color: white;
}

#submit:active {
    background-color: rgb(25, 25, 25);
}


#clear:active {
    background-color: rgb(230, 230, 230);
}


#card2:disabled, #type:disabled, #attribute:disabled, #limit:disabled {
    background-color: rgb(235, 235, 235);
    color: rgb(210, 210, 210);
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .container {
        flex-direction:column-reverse;
    }

    .nav {
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0px;
        bottom: 0px;  
        z-index: 3;
        
        background-color: #ffffff;
        box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.5);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .item {
        width: 23.6vw;
    }

    .icon {
        margin: 0 0 0 17.6vw;
        width:6vw;
    }
    
    .c1 {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
        left: 0px;
        bottom: -500px;
        box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.5);

    }

    .c2 {
        position:fixed;
        bottom: 50px;
        top:0;
        overflow: scroll;
    }

    .r1, .r2 {
        margin-bottom: 1rem;
    }

    .r2 {
        gap: 1rem;
    }

    .l1 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    #name, #desc, #card1, #card2, #type, #attribute, #archetype, #sort, #order, #format, #limit{
        height: 50px;
    }

    #submit, #clear {
        height: 60px;
        margin-bottom: 0;
    }

  }



@media only screen and (min-width: 600px) {  
    .container {
        flex-direction: row;
    }
    
    .item {
        width: 8.53vw;
        transition: filter .05s;
    }     
    
    .icon {
        margin: 0 0 0 6vw;
        width:1.75vw;
    }
    
    .c1 {
        width: 16rem;
        height:100%;
        padding: 1rem;
        left: 0px;
        top: 0;
        box-shadow: 1px 0px 5px rgba(200, 200, 200, 0.5);

    }

    .c2 {
        margin-left: 17rem;
        padding: 1vw 1vw 1vw 0;
    }

    .r1, .r2 {
        margin-bottom: 1rem;
    }

    .r2 {
        gap: 1rem;
    }

    #name, #desc, #card1, #card2, #type, #attribute, #archetype, #sort, #order, #format, #limit, #submit, #clear {
        height: 30px;
    }
}
